body {
  margin: 0;
  font-family: sans-serif;

  /* Full-page gradient */
  background: linear-gradient(to bottom, #87ceeb, #f0f8ff);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh; /* ensures gradient fills the viewport */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
  max-width: 1080px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
}
